@import "pygments.less";
@import "bootstrap/less/bootstrap.less";

.border-radius(@radius) {
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

.question-wrapper {
  .make-xs-column(8);
  .make-xs-column-offset(2);
}

.question {
  display: inline-block;
  .text {
    margin: 10px 0 0 0;
  }
}

.highlighted {
  background: #e1e8f0;
}

.unbootstraped-pre {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.highlight {
  .highlighted;
  padding: 4px;
  margin: 0 0 4px 0;
  .border-radius(2px);
  pre {
    .unbootstraped-pre;
  }
}

.highlight-inline {
  display: inline-block;
  padding: 0 4px;
  .border-radius(5px);
  .highlighted;

  pre {
    .unbootstraped-pre;
  }
}

.answer:hover:not(.static-answer) {
  background-color: #ffffa0;
}

.answer button {
  text-align: left;
}

.prev-answer {
  .make-xs-column(2);
  .make-xs-column-offset(2);
}

.message {
  padding: 0.2em 0.4em;
  .border-radius(4px);
}

.correct {
  .message();
  background-color: @state-success-bg;
  color: @state-success-text;
}

.wrong {
  .message();
  background-color: @state-danger-bg;
  color: @state-danger-text;
}

.status {
  .make-row();
  padding: 10px 0 5px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.score {
  .make-xs-column-offset(6);
  .make-xs-column(2);
}

.user-team {
  font-weight: bold;
}

.correct-answer {
  background-color: @state-success-bg;
  color: @state-success-text;
}

.wrong-answer {
  background-color: @state-danger-bg;
  color: @state-danger-text;
}
