@import "pygments.less";
@import "bootstrap/less/bootstrap.less";

.border-radius(@radius) {
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

.wrapper {
  .make-row();
}

.content {
  .make-sm-column(8);
  .make-sm-column-offset(2);
}

.qna {
  display: inline-block;
}

.question {
  margin: 10px 0 0 0;
}

.highlighted {
  background: #e1e8f0;
}

.unbootstraped-pre {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.highlight {
  .highlighted;
  padding: 4px;
  margin: 0 0 4px 0;
  .border-radius(2px);

  pre {
    .unbootstraped-pre;
  }
}

.highlight-inline {
  display: inline-block;
  padding: 0 4px;
  .border-radius(5px);
  .highlighted;

  pre {
    .unbootstraped-pre;
  }
}

.answer:hover {
  background-color: #ffffa0;
}

.answer button {
  text-align: left;
}

.message {
  padding: 0.2em 0.5em;
  .border-radius(4px);
}

.correct {
  .message();
  background-color: @state-success-bg;
  color: @state-success-text;
}

.wrong {
  .message();
  background-color: @state-danger-bg;
  color: @state-danger-text;
}

.status {
  margin: 8px 0 0 0;
}
