<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pydrill - test and improve your knowledge of Python {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pydrill.css') }}">
</head>
<body>
<div class="container-fluid">
    {# question_preamble is changed in header.html #}
    {% set question_preamble = [] %}
    {% block header scoped %}{% include 'header.html' %}{% endblock %}
    {% block main scoped %}{% endblock %}
</div>
</body>
</html>
