{% extends 'base.html' %}

{# TODO: remove duplication with ask.html #}
{% block header %}
    {% include 'explain_header.html' %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="main explain-preamble">Alrighty, the question was:</div>
    </div>
    <div class="row">
        <div class="main explain">
            {{ question|render_explained_question(given_answer) }}
            <div class="next-question">
                <a class="btn btn-primary"
                   href="{{ url_for('main') }}">Next question</a>
            </div>
        </div>
    </div>
{% endblock %}
