<div class="{% block header_class %}header{% endblock %}">
    <div class="logo">
        <a href="{{ url_for('ask_next_question') }}">
            <strong>Pydrill</strong>
        </a>
    </div>
    {% block message %}
        <div class="message">
            {% with prev_answer = pop_prev_answer() %}
                {% if prev_answer is not none %}
                    {% do question_preamble.append('Next question:') %}
                    <span class="{% if prev_answer['is_correct'] %}prev-correct{% else %}prev-wrong{% endif %}">
                    {{ prev_answer['is_correct']|get_answer_message }}</span>
                    <a href="{{ prev_answer['explain_url'] }}">
                        Why?
                    </a>
                {% endif %}
            {% endwith %}
        </div>
    {% endblock %}
    <div class="score">
        <a href="{{ url_for('show_score') }}"
           {% if g.user.answered_questions %}title="Place #{{ g.user.rank }} out of {{ g.num_users }}"{% endif %}>
            Score: <strong>{{ g.user.score }}</strong>
        </a>
    </div>
</div>
