{% extends "base.html" %}

{% block title %}pydrill{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="content">
            {% include "status.html" %}
            <div class="qna">
                <div class="question">{{ question.text|render }}</div>
                <div class="answers">
                    {% for answer in question.answers|in_random_order %}
                        <div class="answer">
                            <form method="POST" action="{{ url_for('accept_answer',
                        question_id=question.id,
                        answer_id=answer.id, seed=g.seed) }}">
                                <button type="submit" class="btn-link btn-block answer-button">
                                    {{ answer.text|render(vars) }}
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if explain %}
                <div class="explain">{{ question.explanation|render(vars) }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
