{% extends 'base.html' %}

{% block title %}score{% endblock %}

{% block main %}
    <div class="row">
        <div class="main">
            <table class="table table-bordered">
                <tr>
                    <th>Team</th>
                    <th>Score</th>
                </tr>
                {% for ts in teams_scores %}
                    <tr {% if ts.team in g.user.teams %}class="active"{% endif %}>
                        <td>{{ ts.team }}</td>
                        <td>{{ ts.score }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
