{% extends 'base.html' %}

{% block header %}
    {% include 'score_header.html' %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="main">
            <table class="table table-bordered">
                <tr>
                    <th>Team</th>
                    <th class="score-cell">Score</th>
                </tr>
                {% for ts in teams_scores %}
                    <tr {% if ts.team in g.user.teams %}class="active" title="{{ ts.team }} is your team!"{% endif %}>
                        <td>{{ ts.team }}</td>
                        <td class="score-cell">{{ '{:.1f}'.format(ts.score) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
