<div class="status">
    {% with answers = get_flashed_messages(category_filter=['answer']) %}
        {% if answers %}
            {% with prev_answer = answers[-1] %}
                <span class="{% if prev_answer['is_correct'] %}correct{% else %}wrong{% endif %}">
                    {{ prev_answer['text'] }}
                </span>
                <a href="{{ prev_answer['explain_url'] }}">
                    Why?
                </a>
            {% endwith %}
        {% endif %}
        <a href="{{ url_for('show_score') }}" class="score" title="Place #{{ g.user.rank }}">
            Score: {{ g.user.score }}
        </a>
    {% endwith %}
</div>
